.never-worry {
    .wrapper {
        max-width: 1296px;
        @media (max-width:$mobile){
            max-width: 378px;
    }
    }
    .map {
        height: 592px;
        margin-top: 73px;
        background: url(./img/never_worry/map_background.svg) no-repeat right center;
        @media(max-width:$mobile){
            margin-top: 50px;
        }
    }
    .never-worry__title {
        padding-top: 30px;
    }

    .title {
        @media(max-width:$mobile){
            font-weight: 500;
            font-size: 30px;
            line-height: 40px;
        }
    }

    .never-worry__subtitle {
        margin: 12px auto;
        width: 543px;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        @media(max-width:$mobile){
            width: 317px;
            font-weight: 300;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
            letter-spacing: -0.01em;
        }
    }
    .subtitle {
    }
    .city_slider {
        margin-top: 59px;
        @media(max-width:$mobile){
        }
    }
    .slider__wrapper {
    }

    .slider-flex {
        @include flex;
    }

    .slider__item img{
        border-radius: 16px;
        @media(max-width:$mobile){
            margin: 0 auto;
        }
    }

    .slider__item:not(:first-child){
        @media(max-width:$mobile){
            display: none;
        }
    }

    .slider__item{
        position: relative;
        @media(max-width:$mobile){
            margin: 0 auto;
        }
    }

    .gallery-item__title{
        display: block;
        text-align: center;
        width: 250px;
        color: $colorWhite;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 500;
        font-size: 30px;
    }
    .slider__control {
        margin: 46px auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
        
    }
    .arrow_left {
        width: 14px;
        height: 9px;
        background: url(./img/never_worry/arrow_left.svg) no-repeat;
    }
    .arrow:hover {
        cursor: pointer;
    }
    .arrow_right {
        border: 1px $colorBlueLight solid;
        border-radius: 50%;
        transform: rotate(180deg);
        width: 40px;
        height: 40px;
        background: url(./img/never_worry/arrow_left.svg) no-repeat center center;
    }

}
