@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;600;700&family=Karla:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Avenir', sans-serif;
    src: url('../font/AvenirLTStd-Black.woff2'), url('../font/AvenirLTStd-Black.woff');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir', sans-serif;
    src: url('../font/AvenirLTStd-Book.woff2'), url('../font/AvenirLTStd-Book.woff');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir', sans-serif;
    src: url('../font/AvenirLTStd-Roman.woff2'), url('../font/AvenirLTStd-Roman.woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'SFPRODISPLAY', sans-serif;
    src: url('../font/SFPRODISPLAYBOLD.woff2'), url('../font/SFPRODISPLAYBOLD.woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'SFPRODISPLAY', sans-serif;
    src: url('../font/SFPRODISPLAYREGULAR.woff2'), url('../font/SFPRODISPLAYREGULAR.woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'SFPRODISPLAY', sans-serif;
    src: url('../font/SFPRODISPLAYREGULAR.woff2'), url('../font/SFPRODISPLAYREGULAR.woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}